# Dont forget to use the following command to load the environment variables:
    # from dotenv import load_dotenv
    # load_dotenv()

# Passwords:
    # ElasticSearch Credentials
        ELASTIC_SEARCH_USER_NAME='your username'
        ELASTIC_SEARCH_TOKEN='your token'
        ELASTIC_SEARCH_BASE_URL='your base url'
